body {
    background-color: rgb(0, 110, 212);
    font: normal 20px Arial;
}

header {
    color: white;
    text-align: center;
}

select#vtela {
    width: 150px;
}


section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}